<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>TestFeed</title>

<!-- old css code
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
-->
<link rel="stylesheet" href="../static/css/bootstrap-journal.css"></link>
<script src="../static/scripts/jquery-1.12.4/jquery-1.12.4.min.js"></script>
<script src="../static/scripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!-- Nav Bar -->
<div class="bs-component">
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header" style="margin-left: 20px; margin-right: 20px;">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="#" class="navbar-left"><img src="../static/media/tf_1.jpg" style="margin-top: 10px; margin-right: 10px;" width="40" height="40"></a>
<a class="navbar-brand" href="#">Test Feed</a>
<ul class="nav navbar-nav navbar-left">
	<li><a href="/home">Home</a></li>
	<li><a href="upload.html">Feedback</a></li>
	<li><a href="results.html">Reports</a></li>
	<li><a href="#">Help</a></li>
</ul>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<li><a href="#">My Class</a></li>
</ul>
</div>
</div>
</nav>
</div>

<img class="img-responsive" src="../static/media/TestFeed.png" alt="banner" style="width:100%" >

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Problem</h3>
      <p>All throughout school, students of all ages struggle on test and continuously fail. With these failures teachers can only assess the situation after their students have already finished.</p>
      <p>They do not have the chance to see if the problem is fulled based on anxiety, confusion, stress, or just pure lack of knowledge.</p>
    </div>
    <div class="col-sm-4">
      <h3>Solution</h3>
      <p>So to bridge the gap we have Test Feed. This resources will give teachers a chance to use real time facial recognition, and document trackers on their students test.</p>
      <p>Test Feed will give teachers the ability to accurately pinpoint the problem, getting them closer to an overall solution.</p>
    </div>
    <div class="col-sm-4">
      <h3>How it was built</h3>
      <p>We used raspberrypi, and python api hat allowed up to implement document tracking</p>
      <p>We used a camera pi to record and kairos for facial recognition</p>
    </div>
  </div>
</div>
</body>


